body {
  background-color:#92c1f9;
  color: grey;
}

.navbar {
  color: #92c1f9;
  background-color: grey;
  padding: 100px;
  font-family: "Cooper Black";
}

.box {
  border-color: pink;
  border-width: 10px;
  border-style: dotted solid double;
  margin: 20%;
  object-fit: cover;
}

.img {
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
}

.App {
  font-family: monospace;
  text-align: center;
  color: white;
}

body {
  background-color:#92c1f9;
  color: grey;
}

.navbar {
  display: flexbox;
  padding: 2%;
  color: red;
  background-color: #5d80aa;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: black solid 1px;
}

.login {
  display: flexbox;
  background-color: #92c1f9;
  padding-top: 5%;
  padding-bottom: 40em;
}

.page {
  background-color: #92c1f9;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #5d80aa;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  object-fit: cover;
  width: 30%;
  margin: 0 auto;
  padding-top: 1%;
}

.upload {
  padding-top: 5%;
}

.comment {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  object-fit: cover;
  width: 30%;
  margin: 0 auto;
  padding-top: 1%;
  color: black;
  text-align: left;
}

.commentDescription {
  padding-left: 15%;
}

img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  padding: 1%;
}

.details {
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;
}

.detailsImage {
  display: flexbox;
  flex-direction: column;
  text-align: center;
}

.editPage {
  display: flexbox;
  justify-content: flex-end;
  padding: 2%;
  background-color: #92c1f9;;
  padding-top: 5%;
  padding-right: 43%;
  text-align: right;
}

.signup {
  padding-top: 5%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
